<div class="container">

</div>

<div class="row border">
    <div class="col" style="height:750px">
        <div class="border mx-auto mt-5" style="height:400px;width:300px">
            Login page
        </div>
    </div>
</div>

<div>
    <h2 class="text-center">Login Form</h2>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" v-model="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" v-model="password">
    </div>
    <div>
        <button @click="loginUser">Login</button>
    </div>
</div>